<div class="container">

<div class="row">
    <div class="col-md-3">



<div class="card">
  <img class="card-img-top img-fluid img-circle" src="images/bird-robin.jpg" alt="{{'LOGO_TEXT' | translate}}">

  <div class="card-block">
    <h4 class="card-title text-md-center">{{'LOGO_TEXT' | translate}} </h4>
    <p class="card-text text-md-center">{{'LOGO_CAPTION' | translate}}</p>
  </div>
</div>




  




<div class="box"  >
<ul class="nav nav-pills nav-stacked text-md-right">
  <li class="nav-item">
      <a class="nav-link" routerLink="/home" routerLinkActive="active"><i class="glyphicon glyphicon-home"></i> {{'MENU_ITEM_HOME' | translate}} </a>
  </li>
 
  <li class="nav-item">
     <a class="nav-link" routerLink="/about" routerLinkActive="active"><i class=" glyphicon glyphicon-th"></i> {{'MENU_ITEM_ABOUT' | translate}} </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/profile" routerLinkActive="active"><i class=" glyphicon glyphicon-user"></i> {{'MENU_ITEM_PROFILE' | translate}} </a>
  </li>
   <li class="nav-item">
      <a class="nav-link" routerLink="/contact" routerLinkActive="active"><i class="glyphicon glyphicon-envelope"></i> {{'MENU_ITEM_CONTACT' | translate}} </a>
  </li>
</ul>
  </div>

    </div>
    <div class="col-md-9"><div class="box" style="height:92%;"><router-outlet></router-outlet></div></div>
</div>





    
    <hr/>
    <!-- Site footer -->
    <footer class="footer">
        <div class="row">
            <div class="col-xs-6 col-md-6">{{'FOOTER_TEXT' | translate}}</div>
            <div class="col-xs-12 col-sm-6 col-md-6 ">
                <p class="pull-right">
                <span *ngFor="let item of langList">
                    <span *ngIf="currentLang==item.lang">
                        <img  class="privacy_link" src="images/{{item.flag}}"  > 
                    </span>
                    <span *ngIf="currentLang!=item.lang" >
                        <a (click)="onLangChange(item.lang)" style="cursor: pointer; cursor: hand;"><img  src="images/{{item.flag}}"  ></a>
                    </span>
                    &nbsp; &nbsp;
                </span>

                </p>

            </div>
            
        </div>
    </footer>
</div> <!-- /container -->
